* {
    font-family: Roboto, sans-serif;
}

button, button:active, 
button:focus, input {
    outline: none;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

nav {
    background: linear-gradient(rgb(255, 255, 255) , rgba(255, 255, 255, 0.9));
    height: 60px;
}

.nav_button {
    background-color: transparent;
    border: none;
}

.nav_img-button {
    background-color: transparent;
    border: none;
}

.body_tag-button {
    width: auto; 
    border-radius: 20px;
    border: none;
    color: white;
    background-color: black;
    height: 30px;
    transition-duration: 0.4s;
    font-size: 17px;
    font-family: Roboto, sans-serif;
    padding-right: 1.1ch;
    padding-left: 1ch;
}

.body_get-button {
    border-radius: 20px;
    border: 1px solid black;
    background-color: white;
    width: 160px;
    height: 40px;
    transition-duration: 0.4s;
    font-size: 20px;
    font-family: Roboto, sans-serif;
}

.body_get-button:hover {
    background-color: black;
    color: white;
}

.body_info-response {
    width: 60%;
}

@media only screen and (max-width: 950px) {
    .body_info-response {
        width: 80%;
    }
    h1 {
        font-size: 2.5rem;
    }
    
    h2 {
        font-size: 2rem;
    }
}

@media only screen and (max-width:768px) {
    .body_info-response {
        width: 100%;
    }
    .nav_button, .nav_img-button {
        display: none;
    }
    nav h3 {
        font-size: 23px;
        margin-top: 7px;
    }
    h1 {
        font-size: 2rem;
    }
}

@media only screen and (max-width:361px) {
    .body_info-response {
        width: 100%;
    }
    .nav_button, .nav_img-button {
        display: none;
    }
    nav h3 {
        font-size: 23px;
        margin-top: 7px;
    }
    h1 {
        font-size: 1.7rem;
    }
    
}


footer {
    background-color: black;
    color: white;
    width: 100%;
    padding-top: 30px;
}

footer p {
    font-family: Roboto, sans-serif;
    color: rgb(128, 128, 128);
}

footer a {
    background-color: transparent;
    color: white;
    font-family: Roboto, sans-serif;
}

footer a:hover {
    color: white;
}

/* Modal */
.modal-bg-light {
    background-color: rgba(255, 255, 255, 0.8);
}

.modal-btn {
    border-radius: 5px;
    border: 1px solid rgb(187, 187, 187);
    color: black;
    background-color: white;
    width: 160px;
    height: 40px;
    transition-duration: 0.4s;
    font-size: 17px;
    font-family: Roboto, sans-serif;
}

.modal-btn:hover {
    border-color: black;
}
